<?xml version="1.0" encoding="utf-8"?>
<root>
  <!-- Path to trees -->
  <treepath>trees/treetable</treepath>
  <!-- Number of trees -->
  <ntree>20</ntree>
  <!-- Patch width -->
  <pwidth>64</pwidth>
  <!-- Patch height -->
  <pheight>64</pheight>
  <!-- Path to images-->
  <!--<imgpath>example/testimage</imgpath>-->
  <!-- Image name list -->
  <imgnamelist>example/test.txt</imgnamelist>
  <!-- Extract features -->
  <efeatures>1</efeatures>
  <!-- Scales -->
  <scales>
    <s1>1</s1>
  </scales>
  <!-- Ratios -->
  <ratio>
    <r1>1</r1>
    <r2>1</r2>
  </ratio>
  <!-- Output path-->
  <outpath>example/detect</outpath>
  <!-- Scale factor for output image-->
  <sfactor>20</sfactor>
  <!-- Path to training images -->
  <trainimgpath>data</trainimgpath>
  <!-- Train data file name -->
  <traindataname>trainData.txt</traindataname>
  <!-- Train image per tree-->
  <trainimagepertree>10</trainimagepertree>
  <!-- min sample number-->
  <minsample>20</minsample>
  <!-- max depth of tree-->
  <maxdepth>10</maxdepth>
  <!-- feature channel number-->
  <featurechannel>2</featurechannel>
  <!-- extract patch ratio-->
  <patchratio>0.6</patchratio>
  <!-- Stride -->
  <stride>1</stride>
  <!-- Offset of tree-->
  <offTree>0</offTree>
  <!-- test data path -->
  <testpath>data</testpath>
  <testdataname>trainData.txt</testdataname>


  
  <classdatabasename>classDatabase</classdatabasename>
  <!--learning mode 1:depth 2:rgb 0:rgbd-->
  <learningmode>0</learningmode>

  <traindatalistname>dataListInstL1.txt</traindatalistname>
  <testdatalistname>dataListInstL2.txt</testdatalistname>
</root>
