<?xml version="1.0" encoding="utf-8"?>
<root>
  <!-- Path to trees -->
  <treepath>trees/treetable</treepath>
  <!-- Number of trees -->
  <ntree>10</ntree>
  <!-- Patch width -->
  <pwidth>16</pwidth>
  <!-- Patch height -->
  <pheight>16</pheight>
  <!-- Path to images-->
  <imgpath>example/testimage</imgpath>
  <!-- Image name list -->
  <imgnamelist>example/test.txt</imgnamelist>
  <!-- Extract features -->
  <efeatures>1</efeatures>
  <!-- Scales -->
  <scales>
    <s1>1</s1>
  </scales>
  <!-- Ratios -->
  <ratio>
    <r1>1</r1>
    <r2>1</r2>
  </ratio>
  <!-- Output path-->
  <outpath>example/detect</outpath>
  <!-- Scale factor for output image-->
  <sfactor>50</sfactor>
  <!-- Path to training images -->
  <trainimgpath>trainData</trainimgpath>
  <!-- Train data file name -->
  <traindataname>trainData.txt</traindataname>
  <!-- Train image per tree-->
  <trainimagepertree>50</trainimagepertree>
  <!-- min sample number-->
  <minsample>5</minsample>
  <!-- max depth of tree-->
  <maxdepth>10</maxdepth>
  <!-- feature channel number-->
  <featurechannel>2</featurechannel>
  <!-- extract patch ratio-->
  <patchratio>0.8</patchratio>
  <!-- Stride -->
  <stride>10</stride>
  <!-- Offset of tree-->
  <offTree>0</offTree>
  <!-- test data path -->
  <testpath>trainData</testpath>
  <testdataname>trainData.txt</testdataname>
  
  <classdatabasename>classDatabase</classdatabasename>
</root>
